/* Layout */

  .each-ticket-table {
    display: block;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  a.ticket-info, a.ticket-info:hover {
    color: unset;
    text-decoration: none;
  }

  .each-ticket-table:hover {
    background:#8080801a;
  }

  .app-section {
    margin: 5px 0px;
  }

  .app-section-header {
    margin-bottom: 5px;
    font-weight: bold;
    border-bottom: solid thin #8080801a;
    padding: 5px 0px;
    width: 100%;
    display: block;
  }

  .ticket-info tr {
    text-align: center;
  }

  .each-ticket-table.current-ticket {
    pointer-events: none;
  }

  .collapse-button, .collapse-button:focus, .collapse-button:hover {
    text-decoration: none;
    font-weight: bold;
    color: #2f3941;
}

  /* Ticket Status */

  .ticket-status {
    padding: 2px 5px 3px 5px;
    font-size: 9px;
    text-transform: uppercase;
    margin-right: 2px;
    text-shadow: none;
    line-height: 0;
    display: inline;
    position: relative;
    top: -1px;
    letter-spacing: 0;
    font-weight: 600;
  }

  .ticket-status.open {
    background: #E34F32;
    color: white;
  }

  .ticket-status.new {
    background: #FFB648;
    color: #703B15;
  }

  .ticket-status.pending {
    background: #3091EC;
    color: white;
  }

  .ticket-status.hold {
    background: #2F3941;
    color: white;
  }

  .ticket-status.solved {
    background: #87929D;
    color: white;
  }

  /* Satisfaction */

  .app-section.satisfcation-rating {
    padding: 10px;
  }

  .satisfaction-rating-container {
    display:flex;
    background-color:#80808057;
  }

  .satisfaction-rating-container .satisfaction-rating {
    height: 25px;
    min-width: 1%;
  }

  .satisfaction-rating.good {
    background-color: #77A500;
  }

  .satisfaction-rating.bad {
    background-color: #bd322c;
  }

  .satisfcation-rating.high-priority {
    background: aquamarine;
  }

  /* Satisfaction Tooltip */

  .satisfaction-rating .rating-tooltip {
    color: #fff;
    text-align: center;
    line-height: 25px;
  }

  .rating {
      text-transform: capitalize;
  }

  .loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Collapse */
  .app-section[data-collapsed="true"] {
    height: 10px;
    visibility:hidden;
  }